/* ! Общее */
@font-face {
   font-family: 'Muller';
   src:local('Muller'),url('../fonts/MullerLight.woff');
   src:local('Muller'),url('../fonts/MullerLight.woff2');
   font-weight: 300;
}

@font-face {
   font-family: 'Muller';
   src:local('Muller'),url('../fonts/MullerRegular.woff');
   src:local('Muller'),url('../fonts/MullerRegular.woff2');
   font-weight: 400;
}

@font-face {
   font-family: 'Muller';
   src:local('Muller'),url('../fonts/MullerMedium.woff');
   src:local('Muller'),url('../fonts/MullerMedium.woff2');
   font-weight: 500;
}

@font-face {
   font-family: 'Muller';
   src:local('Muller'),url('../fonts/MullerBold.woff');
   src:local('Muller'),url('../fonts/MullerBold.woff2');
   font-weight: 700;
}

:root{
   --custom-color: #cc9933;
   --custom-white-color: #fff;
   --custom-3-color: #333;
   --custom-6-color: #666;
   --custom-E1-color: #e1e1e1;
   --custom-9-color: #999;
   --custom-hover-color: #ac7d21;
}

/* body{
   min-width: 1200px;
} */

* {
   box-sizing: border-box;
}

input{
   display: block;
}

html,body{
   background-color: #E5E5E5;
   font-family: 'Muller';
}

.container{
   max-width: 1190px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
}

.section-heading{
   padding-left: 40px;
   font-size: 40px;
   line-height: 40px;
   color: var(--custom-3-color);
   margin-top: 0px;
   margin-bottom: 20px;
}

p{
   margin: 0;
}

a{
   text-decoration: none;
}

ul{
   padding: 0;
   margin: 0;
   list-style: none;
}

.btn {
   padding: 12px 19px;
   background-color: var(--custom-white-color);
   border: 1px solid var(--custom-color);
   border-radius: 10px;
   color: var(--custom-color);
   font-size: 16px;
   line-height: 1;
   cursor: pointer;
   transition: color 0.5s ease, border-color 0.4s linear, border-radius 0.3s ease;
}

.btn:hover{
   color: rgb(0, 0, 0);
   border-color: currentColor;
   border-radius: 0px;
}

.link-hover{
   transition: padding-right 0.2s linear, color 0.4s ease;
}

.link-hover:hover{
   color: var(--custom-hover-color);
   padding-right: 25px;
}
/* ! Header */
.header {
   padding-top: 30px;
}

.header__container {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
}

.header__header-top {
   align-items: center;
   display: flex;
   margin-bottom: 30px;
}

.header__logo{
   position: relative;
   z-index: 200;
}

.header__phone,
.burger__phone {
   font-weight: 500;
   font-size: 20px;
   line-height: 1;
   margin-left: 40px;
   color: var(--custom-6-color);
   transition: transform 0.3s ease-in-out, color 0.2s linear;
}

.header__phone:hover,
.burger__phone:hover{
   transform: translateX(15px);
   color: #000;
}

.header__header-login {
   height: 14px;
   margin-left: auto;
   background: url('../img/header-login-icon.svg') no-repeat center left;
}


.header__login-link,
.burger__login-link {
   color: var(--custom-color);
   font-size: 16px;
   line-height: 1;
   padding-left: 28px;
}

.header__header-bottom {
   padding: 14px 45px;
   background-color: var(--custom-white-color);
   border-radius: 15px;
}

.header__header-container-bottom {
   align-items: center;
   display: flex;
   justify-content: space-between;
}

.header__menu {
   overflow: hidden;
   position: absolute;
   z-index: 100;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   max-width: 100%;
   height: 850px;
   padding-top: 143px;
   padding-right: 40px;
   background-color: #E5E5E5;
   transition: transform 0.3s ease-in-out;
   transform: translateX(-101%);
   box-shadow: 2px 0px 3px -3px #000;
}

.header__menu-list{
   text-transform: uppercase;
   text-align: right;
}

.burger__burger-login{
   margin-top: 10px;
   margin-left: 40px;
   height: 14px;
   background: url('../img/header-login-icon.svg') no-repeat center left;
}

.header__menu-item{
   margin-bottom: 30px;
}

.header__burger {
   display: none;
   position: relative;
   z-index: 100;
   width: 30px;
   height: 23px;
   cursor: pointer;
}

.header__burger span,
.header__burger:before,
.header__burger:after{
   height: 3px;
   width: 100%;
   border-radius: 15px;
   position: absolute;
   left: 0;
   background: #515758;
}

.header__burger:before,
.header__burger:after{
   content: '';
}

.header__burger:before{
   top: 10px;
}

.header__burger:after{
   bottom: 0px;
}

.header__burger.open-menu span{
   width: 80%;
   transition: width 0.2s ease-in-out;
}

.header__burger.open-menu:before {
   width: 60%;
   transition: width  0.2s ease-in-out;
}

.header__burger.open-menu:after {
   width: 40%;
   transition: width  0.2s ease-in-out;
}
.fixed-page{
   overflow: hidden;
}

.open-menu{
   left: 1px;
}

.is-active{
   transform: none;
}

.header__header-bottom-list {
   display: flex;
}

.header__header-bottom-item:not(:last-child) {
   margin-right: 45px;
}

.header__header-bottom-link {
   font-size: 16px;
   line-height: 1;
   color: var(--custom-6-color);
   transition: color 0.3s ease, border-bottom 1s linear;
}

.header__header-bottom-link:hover{
   color: var(--custom-color);
   border-bottom: 1px solid var(--custom-color);
}


.header__header-bottom-right {
   border-left: 1px solid var(--custom-E1-color);
}

.header__form-link {
   margin-left: 65px;
}

.header__phone-link {
   margin-left: 45px;
}

/* ! Offers */
.section-offers {
   padding-top: 70px;
}

.section-offer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.section-offers-left,
.section-offers-right {
   max-width: 49%;
}

.card-offers{
   z-index: 0;
   position: relative;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 15px;
}

.maldives {
   background-image: url('../img/maldives.jpg');
   margin-bottom: 23px;
}

.bg-gradient {
   border-radius: 15px;
   background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.offers-left {
   padding: 40px 234px 40px 40px;
}

.card-heading {
   margin-top: 0;
   margin-bottom: 15px;
   font-weight: 700;
   color: var(--custom-white-color);
}

.card-heading.left{
   font-size: 40px;
   line-height: 40px;
}

.card-price {
   margin-bottom: 47px;
   color: var(--custom-white-color);
   opacity: 80%;
}

.card-price.left {
   font-size: 20px;
   line-height: 20px;
}

.card-link {
   padding-right: 15px;
   color: #FFCC66;
   font-size: 16px;
   line-height: 1;
   background: url('../img/more-icon.svg') no-repeat right center;
}

.crete {
   background-image: url('../img/crete.jpg');
}

.luxury {
   background-image: url('../img/luxury.jpg');
}

.offers-right {
   padding: 211px 234px 41px 40px;
}

.card-heading.right{
   font-size: 60px;
   line-height: 60px;
}

.card-price.right {
   font-size: 30px;
   line-height: 30px;
}

/* ! About-us */
.section-about {
   padding-top: 70px;
}

.section-about-text {
   color: var(--custom-3-color);
   font-size: 16px;
   line-height: 32px;
   width: 76%;
}

/* ! Services */
.section-services {
   padding-top: 70px;
}

.section-services-list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.section-services-item {
   display: inline-block;
   background-color: var(--custom-white-color);
   border-radius: 15px;
   max-width: 49%;
}

.section-services-item:not(:nth-child(3),:last-child){
   margin-bottom: 23px;
}

.section-services-image{
   object-fit: cover;
   width: 100%;
   height: auto;
   border-radius: 15px 15px 0px 0px;
}

.services-link-title{
   padding: 26px 0px 0px 45px;
   margin: 0;
   font-size: 20px;
}

.services-link {
   font-weight: 500;
   font-size: 20px;
   color: var(--custom-color);
   background: url('../img/more-icon.svg') no-repeat right center ;
   padding-right: 19px;
}

.services-description {
   padding: 0px 126px 50px 45px;
   margin: 0;
   font-size: 16px;
   line-height: 32px;
}

/* ! Advantages */
.section-advantages{
   padding-top: 70px;
}

.section-advantages-list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.section-advantages-item {
   max-width: 23.5%;
   padding: 40px 42px 41px 45px;
   display: inline-block;
   background-color: var(--custom-white-color);
   border-radius: 15px;
}

.section-advantages-item:not(:nth-child(-n+4)){
   margin-top: 23px;
}

.section-advantages-description {
   margin: 0;
   font-size: 16px;
   line-height: 32px;
}

/* ! Accommodation */
.section-accommodation{
   padding-top: 70px;
}
.section-accommodation-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.section-accommodation-item {
   width: 32%;
   max-height: 440px;
   background-color: var(--custom-white-color);
   border-radius: 15px;
   transition: box-shadow 0.3s linear;
}

.section-accommodation-item:hover,
.section-accommodation-item:focus{
   box-shadow: 0px 0px 15px 2px var(--custom-6-color);
}

.section-accommodation-image{
   max-width: 100%;
   object-fit: cover;
}

.section-accommodation-item:not(:nth-child(-n+3)){
   margin-top: 23px;
}

.section-accommodation-image{
   border-radius: 15px 15px 0px 0px;
}

.section-accommodation-info {
   padding: 36px 42px 41px 45px;
}

.section-accommodation-info-wrapper{
   display: flex;
   justify-content: space-between;
}

.section-accommodation-price {
   font-size: 16px;
   line-height: 16px;
}

.accommodation-price-fix {
   font-size: 20px;
   line-height: 20px;
   font-weight: 700;
}

.section-accommodation-title {
   font-size: 16px;
   line-height: 16px;
   font-weight: 400;
   margin: 16px 0px;
}

.section-accommodation-location {
   color: var(--custom-9-color);
   font-size: 16px;
   line-height: 16px;
   margin-bottom: 33px;
}

.section-accommodation-item-more {
   position: relative;
   margin-top: 23px;
   background: url('../img/more-image.jpg') no-repeat center center/cover;
   border-radius: 15px;
   width: 32%;
   max-height: 440px;
   padding: 373px 53px 27px 54px;
   transition: filter 0.3s linear, transform 0.1s linear;
}

.section-accommodation-item-more:hover{
   filter: brightness(80%);
   transform: translate(3px, 3px);
}

.section-accommodation-more-link {
   padding-right: 16px;
   font-weight: 500;
   font-size: 20px;
   line-height: 40px;
   color: var(--custom-white-color);
   background: url('../img/more-icon-white.svg') no-repeat center right;
}

.section-accommodation-more-link::after{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   content: ''; 
}

/* ! Form */
.section-form{
   padding-top: 70px;
}

.form-container{
   padding-bottom: 71px;
   background-color: #E9E9E9;
   border-radius: 15px;
}

.form-heading{
   padding-top: 38px;
   padding-bottom: 19px;
}

.form{
   padding: 28px;
   display: flex;
   align-items: center;
   margin: 0px 45px 0px 45px;
   background-color: var(--custom-white-color);
   border-radius: 15px;
}

.section-form-part{
   display: block;
   border-right: 1px solid var(--custom-E1-color);
   padding-left: 20px;
   padding-right: 20px;
}

.section-form-part:first-child{
   padding-left: 0;
}

.form-title {
   font-size: 12px;
   line-height: 12px;
   display: inline-block;
   padding-bottom: 15px;
}

.input{
   font-size: 16px;
   line-height: 16px;
   padding-top:  1px;
   max-width: 122px;
   height: 18px;
}

.down{
   max-width: 169px;
   background: url(../img/down.svg) no-repeat right center;
}

.calendar{
   background: url(../img/calendar.svg) no-repeat;
   background-position: calc(100% - 1px) calc(0% - 1px) ;
}

.number{
   border-bottom: 1px solid #ccc;
}

input[type=text]::-webkit-calendar-picker-indicator {
   opacity: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
   opacity: 0;
   padding: 0;
   max-width: 14px;
   margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
   opacity: 1;
}

.btn-form {
   padding: 13px 30px;
   margin-left: 25px;
}

/* ! Contacts */
.section-contacts {
   padding-top: 70px;
}

.section-contacts-wrapper {
   padding: 44px 44px  46px 46px;
   background-color: var(--custom-white-color);
   border-radius: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.section-wrapper-contacts{
   max-width: 37%;
}

.section-contacts-list {
   max-width: 100%;
}

.section-contacts-info {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #C4C4C4;
   padding-bottom: 23px;
}

.section-contacts-info:not(:first-child){
   padding-top: 25px;
}

.section-contacts-info-title {
   margin: 0;
   font-size: 20px;
   line-height: 20px;
}

.section-contacts-info-description {
   margin-left: 47px;
   text-align: left;
   min-width: 225px;
   font-size: 16px;
   line-height: 150%;
}

.section-contacts-info-link {
   color: var(--custom-color);
   display: block;
}

.link-description {
   color: var(--custom-9-color);
   line-height: 24px;
}

.btn-contacts {
   margin-top: 43px;
   font-weight: 700;
   padding: 27px 29px;
}

.section-contacts-image{
   width: 60%;
   height: 427px;
}

.info-image {
   border-radius: 15px;
   background-color: var(--custom-white-color);
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* ! Footer */
.footer{
   padding-top: 19px;
   padding-bottom: 20px;
}

.footer-wrapper{
   position: relative;
   padding: 44px 51px 46px 52px;
   display: flex;
   background-color: var(--custom-3-color);
   border-radius: 15px;
}

.footer-info{
   margin-right: 110px;
}

.footer-info-description {
   font-size: 16px;
   line-height: 30px;
   color: var(--custom-white-color);
   margin: 0;
   max-width: 310px;
   padding-bottom: 49px;
}

.footer-link {
   display: block;
   color:var(--custom-color);
   font-size: 16px;
   line-height: 24px;
   transition: color 0.2s linear;
}

.footer-link:hover{
   color: var(--custom-hover-color);
}

.footer-contacts {
   margin-right: 260px;
}

.footer-contacts-address {
   margin-bottom: 15px;
   font-size: 16px;
   line-height: 30px;
   color: var(--custom-white-color);
}

.footer-contacts-telephones {
   margin-bottom: 15px;
}

.footer-socials-list {
   display: flex;
   flex-direction: column;
}

.footer-socials-item{
   min-width: 26px;
   min-height: 26px;
}

.footer-socials-item:not(:last-child) {
   margin-bottom: 20px;
}

.socials-link-icon path{
   transition: fill 0.2s linear;
}

.socials-link-icon:hover path{
   fill: var(--custom-hover-color);
}

/* Адаптив */

@media screen and (max-width: 1199px) {
   .container {
      max-width: 95%;
   }
   .btn {
      padding: 10px;
      font-size: 14px;
   }
   .header__header-bottom {
      padding-right: 15px;
      padding-left: 15px;
   }
   .header__header-bottom-list{
      width: 57%;
   }
   .header__header-bottom-link {
      font-size: 14px;
   }
   .header__header-bottom-item:not(:last-child) {
      margin-right: auto;   
   }
   .offers-left{
      padding-right: 110px;
   }
   .section-services-item:not(:nth-child(3),:last-child){
      margin-bottom: 18px;
   }
   .section-advantages-item{
      padding: 20px;
   }
   /* .section-advantages-item:not(:nth-child(4n+4)){
      margin-right: 0;
   } */
   .section-accommodation-info{
      padding: 30px 15px;
   }
   .section-accommodation-item-more{
      text-align: center;
      padding: 320px 0px 0px 0px;
   }
   .form{
      padding: 15px 5px;
      margin: 0;
      justify-content: center;
   }
   .section-form-part{
      padding-left: 8px;
      padding-right: 8px;
   }
   .btn-contacts{
      padding: 27px 29px;
   }
   .section-contacts-info-description{
      margin-left: 30px;
   }
}

@media screen and (max-width: 991px) {
   .header__header-bottom-list{
      width: 67%;
   }
   .header__form-link{
      display: none;
   }
   .section-offer{
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   .section-offers-left,
   .section-offers-right{
      max-width: none;
      width: 95%;
   }
   .crete{
      margin-bottom: 23px;
   }
   .offers-right{
      padding: 40px 400px 40px 40px;
   }
   .section-about-text{
      width: 100%;
   }
   .section-services-item{
      margin-bottom: 10px !important;
   }
   .services-link-title{
      margin-bottom: 5px;
      padding: 10px 0px 0px 20px;
      font-size: 16px;
   }
   .services-description{
      padding: 0px 20px 20px 20px;
      font-size: 14px;
   }
   .section-advantages-item{
      max-width: 49%;
   }
   .section-advantages-item:not(:nth-child(-n+2)){
      margin-top: 23px;
   }
   .section-accommodation-item-more{
      padding-top: 270px;
   }
   .section-accommodation-more-link{
      line-height: 30px;
   }
   .form-container{
      padding-bottom: 10px;
   }
   .form-heading{
      padding-left: 0px;
      text-align: center;
   }
   .form{
      max-width: 60%;
      margin: 0 auto;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
   }
   .section-form-part{
      display: block;
      width: 100%;
      border-right: none;
      padding: 0px 20px 20px 20px !important;
   }
   .input{
      width: 100%;
      max-width: none;
   }
   .section-form-btn{
      display: flex;
      justify-content: flex-end;
      width: 100%;
   }
   .btn-form{
      margin-left: 0;
      margin-right: 50px;
   }
   .section-contacts-info{
      flex-direction: column;
   }
   .section-contacts-info-title{
      margin-bottom: 10px;
   }
   .section-contacts-info-description{
      margin-left: 0;
   }
   .section-contacts-image{
      height: 517px;
   }
   .footer-info,
   .footer-contacts{
      margin-right: 40px;
   }
}

@media screen and (max-width: 767px) {
   .header__phone{
      display: none;
   }
   .header__header-login{
      display: none;
   }
   .header__header-top{
      justify-content: center;
   }
   .header__header-container-bottom{
      justify-content: space-around;
   }
   .header__burger{
      display: block;
   }
   .header__header-bottom-list{
      display: none;
   }
   .header__header-bottom-link{
      font-size: 20px;
   }
   .header__header-bottom-item{
      margin-right: 0;
      margin-bottom: 20px;
   }
   .header__header-bottom-right{
      border: none;
   }
   .header__form-link{
      margin-left: 0px;
      display: inline-block;
   }
   .card-heading.left {
      font-size: 20px;
      line-height: 30px;
   }
   .section-offers-right,
   .section-contacts-image {
      display: none;
   }
   .section-services-list{
      flex-wrap: nowrap;
      flex-direction: column;
   }
   .section-services-item{
      max-width: 100%;
   }
   .section-accommodation-item {
      width: 49%;
   } 
   .section-accommodation-item:not(:nth-child(-n+2)) {
      margin-top: 23px;
   }
   .section-accommodation-item-more{
      width: 49%;
      padding: 250px 50px 20px 50px;
   }
   .section-contacts-wrapper {
      width: 100%;
   }
   .section-wrapper-contacts {
      width: 100%;
      max-width: none;
   }
   .section-contacts-info {
      flex-direction: row;
   }
   .footer-wrapper{
      flex-direction: column-reverse;
   }
   .footer-info,
   .footer-contacts {
      margin-right: 0;
      margin-top: 20px;
   }
   .footer-info-description {
      max-width: none;
      line-height: 20px;
   }
   .footer-socials-list {
      justify-content: space-evenly;
      flex-direction: row;
   }
   .footer-socials-item:not(:last-child),
   .crete {
      margin-bottom: 0;
   }
}

@media screen and (max-width: 576px) {
   .header{
      padding-top: 10px;
   }
   .header__header-top{
      margin-bottom: 10px;
   }
   .header__header-bottom{
      padding: 6px 12px;
   }
   .header__header-container-bottom{
      justify-content: space-between;
   }
   .btn{
      padding: 10px 5px;
      font-size: 12px;
      font-weight: 600;
   }
   .header__phone-link{
      margin-left: 20px;
   }
   .header__menu{
      padding-top: 94px;
   }
   .burger__phone{
      display: block;
      margin-top: 40px;
   }
   .section-offers,
   .section-about,
   .section-services,
   .section-advantages,
   .section-accommodation,
   .section-form,
   .section-contacts{
      padding-top: 40px;
   }
   .section-heading{
      font-size: 20px;
      line-height: 20px;
      padding-left: 20px;
   }
   .offers-left{
      padding: 30px 10px;
   }
   .card-heading.left{
      font-size: 16px;
      line-height: 1;
   }
   .card-price.left{
      font-size: 16px;
      line-height: 1;
      margin-bottom: 20px;
   }
   .section-about-text{
      font-size: 14px;
      line-height: 28px;
   }
   .services-link{
      font-size: 16px;
   }
   .section-advantages-item{
      max-width: 100%;
      padding: 5px 10px;
   }
   .section-advantages-item:not(:first-child){
      margin-top: 23px;
   }
   .section-accommodation-heading{
      padding-left: 0;
      text-align: center;
   }
   .section-accommodation-list{
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
   }
   .section-accommodation-item{
      width: 72%;
   }
   .section-accommodation-item:not(:first-child) {
      margin-top: 23px;
   }
   .section-accommodation-item-more{
      width: 72%;
      padding: 30px 10px;
   }
   .section-accommodation-more-link{
      font-size: 16px;
   }
   .form{
      max-width: 100%;
   }
   .form-heading{
      padding-left: 0px;
   }
   .section-contacts-wrapper{
      padding: 10px;
   }
   .section-contacts-info{
      flex-direction: column;
      align-items: center;
   }
   .btn-contacts{
      margin-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .footer-info-description,
   .footer-contacts-address{
      font-size: 14px;
   }
   .mail-link{
      display: none;
   }
}